:root{
    --softblue: rgb(146,204,205);
    --darkblue: rgb(68,88,118);
    --currentgrey: rgb(49,52,61);
    --backgroundwhite: rgb(237,237,246);

}
/*Header section contains the navigation bar and title for the page*/
    header
    {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        flex-basis: 100%;
        height: 150px;
        background-color: var(--currentgrey);
    }

    header  h1
    {
        padding-left: 5%;
        background-color: var(--softblue);
        padding-right: .5%;
        margin-right: 2.5%;
    }

    header nav 
    {
        padding-left: 25px;
        flex-direction: row;
        margin-right: 2.5%;
    }

    header nav a
    {
        margin-right: 15px;
        color: var(--softblue);
        text-decoration: none;
        padding: 5px;
        border-bottom: 3px solid var(--softblue);
    }

/*spacing*/

/*This section holdst the subheader wich should be a hidden profile picture*/
    .profile-picture 
    {
        display: flex;
        flex-basis: 100%;
        background-image: url(images/pawel-czerwinski-background-pattern.jpg);
        background-size: cover ;
    }

    .profile-picture h2
    {
        order: 2;
        color: var(--darkblue);
        padding: 5px;
        border-radius: 2px;
        margin-left: 10px;
        align-self: flex-end;
        justify-self: right ;
        background:var(--softblue);

    }

    .profile-picture img
    {        
        margin: 10px 5px 10px 35%;
        border: 5px solid var(--softblue);
        border-radius: 15px;
        max-width: 30%;   
    }
/*spacing*/

/*This section holds the about me portion of the portfolio*/
    .bio-box
    {
        display: flex;
        justify-content:space-between;
    }

    .bio-box h2
    {
        align-self: center;
        flex-basis: 30px;
        padding: 0px 15px 0px 63px;
        color: var(--darkblue);
        text-align: right;

    }

    .bio-box p
    {
        border-left: 5px solid var(--darkblue);
        height: 100%;
        padding: 10px 0px 10px 20px;
        color: var(--darkblue);
    }

/*spacing*/

/*This section holds the main section of the site with images representing the projects*/
    .core-content
    {
        display:flex;
    }

    .core-content h2
    {
        flex-basis: 30px;
        padding: 15px 15px 15px 69px;
        color: var(--darkblue);
    }
    .core-content .project-container 
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-left: 5px solid var(--darkblue);
        height: 100%;
        padding: 10px 10px 10px 25px;
       
    }

    .core-content .project-container .project-card
    {
        display: flex;
        width:350px;
        height: 250px;
        background-size: cover;
        border: 5px solid var(--softblue);
        margin: 0 0 10px 10px;
        flex: 0 0 40%;
    }

    .core-content .project-container .project-card  h3 
    {
        align-self: flex-end;
        text-align: center;
        flex-basis: 25%;
        height:auto;
        padding: 15px;
        background: var(--softblue);

    }

    .core-content  .project-container .project-card h3 a 
    {
        text-decoration: none;
    }
  
    .core-content .project-container  #first-project 
    {
        flex:0 0 82.22%;
    }


/*spacing*/

/*This Section should contian most of the information for the footer file.*/
    .end-page-footer
    {
        display: flex ;
        text-align: right;
        align-items: center;

    }

    .end-page-footer h2
    {
        flex-basis: 30px;
        flex-wrap: wrap;
        color: var(--darkblue);
        padding: 15px 15px 15px  30px;
    }

    .end-page-footer section
    {
        display: flex;
        flex-basis: 70%;
        justify-content: space-evenly;
        border-left: 5px solid var(--darkblue);
        padding: 25px;
    }

    .end-page-footer section a 
    {
        color: var(--darkblue);
        text-decoration: none;
        padding: 5px;
        border-bottom: 3px solid var(--darkblue);
    }

/*spacing*/

body
{
    margin: 0 auto;
    max-width: 1280px;
    background-color: var(--backgroundwhite);
}

@media only screen and (max-width: 780px) 
{
    .core-content .project-container .project-card
    {
        flex: 0 0 82.22%;
    }   
}