:root
    {
         --softblue: rgb(146,204,205);
         --darkblue: rgb(68,88,118);
         --currentgrey: rgb(49,52,61);
         --backgroundwhite: rgb(237,237,246);
    }

body
    {
        background-color: var(--backgroundwhite);
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        height: 150vh;
        width: 100vw;
        max-width: 1280px;
        max-height: 1920px;
    }

header
    {
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        height: 300px;
        width: 100%;
        background-color: var(--currentgrey);
    }
    .page_title
        {
            flex-basis: 40%;
        }
        .page_title h1
            {
                width: auto;
                padding: 0 0 0 30px;
                background-color: var(--softblue);
            }
        .page_title h2
            {
                margin: 0 0 0 30%;
                color: var(--softblue);
            }

    nav
        {
            padding: 20px;
        }
        nav a
            {
                margin: 5px;
                color: var(--softblue);
                text-decoration: none;
            }
/*Header Section End*/

.bio
    {
        display: flex;
        height: 300px;
        width: 100%;
        background-image: url(images/pawel-czerwinski-background-pattern.jpg);
        background-size: cover ;
    }
    .mini
    {
        height: 100px;
    }
    .bio h2
        {
        
            display: flex;
            align-items: center;
            justify-content: right;
            height: 50px;
            width: 150px;
            padding: 0 20px 0 50px;
            color: var(--darkblue);
            background-color: var(--softblue);
            border-radius: 0 15px 15px 0;
        }
        .bio h2:hover
        {
            cursor: pointer;
        }
    .bio p
        {
            color: var(--softblue);
            text-align: center;
            margin: 0 auto 0 50px;
            align-self: flex-start;
            display: flex;
            align-items: center;
            height:290px;
            width: 600px;
            border-radius: 15px;
            background-color: var(--darkblue);
            border: 5px solid var(--darkblue);
            
        }
    .bio img
            {
                height: 250px;
                border-radius: 15px;
                border: 5px solid var(--softblue);
            }
    .bio .hideMe
    {
        display: none;
    }
/*Bio Section End*/

main
    {
        border-top: 5px solid black;
        height: 700px;
        width: 100%;

    }
    main h2
        {
            text-align: center;
            margin: 10px auto;
            width: 150px;
            height: 30px;
            color: var(--darkblue);
            border-bottom: 5px solid var(--darkblue);
        }   
    .project-container
        {
            display:grid;
            grid-template-columns:49% 49%;
            grid-template-rows: 50% 49%;
            column-gap: 10px;
            row-gap: 10px;
            width: 100%;
            height: 650px;
        }  
    .first-project
        {
            background-image: url(./images/There_And_Back_Original_Screenshot.png);
            grid-column: 1/ 3;
            grid-row: 1/2;
        }
    .day-planner
        {
            background-image: url(./images/Work_Day_Scheduler_Original_Screenshot.png);
            grid-column: 1/2;
            grid-row: 2/3;
        }
    .weather-dashboard
        {
            background-image: url(./images/Weather_Dashboard_Original_Screenshot.png);
            grid-column: 2/3;
            grid-row: 2/3;
        }
    .focused
        {
            z-index: 5;
            grid-column: 1/3;
            grid-row: 1/3;
        }
    /*Initial Main Section End*/        
    .project-card
        {
            display: flex;
            border-radius: 5px;
            border: 10px solid var(--darkblue);
            background-size: cover;
        }
        .project-card:hover
            {
                cursor: pointer;
            }
        .project-info
            {
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                width: 250px;
                height: 400px;
                align-self: flex-start;
                border: 5px solid var(--darkblue);
                border-radius: 0 0 15px 0;
                background-color: var(--softblue);
            }
        .project-info p
            {
                width: 90%;
            }
        .hideInfo
            {
                display: none;
            }
    /*Project Card Section End*/
/*Main Section End*/

    footer
    {
        margin-top: 10px;
    }
    footer h2
    {
        text-align: center;
        margin: 30px auto 20px auto;
        width: 250px;
        height: 30px;
        color: var(--darkblue);
        border-bottom: 5px solid var(--darkblue);
    }
    footer div
        {
            padding: 20px 0 50px 0;
            display: flex;
            justify-content: space-around;
        }
    footer div a 
        {
            color:var(--darkblue);  
            border-bottom: 3px solid var(--darkblue);
        }
/*Footer Section End*/

